@import url('https://fonts.googleapis.com/css?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');

h1, div{
  color: #0283A0 ;
  font-family: Merienda;
  text-align: center;
  font-size: 36px;
}

h2 {
  color: #0283A0 ;
  font-family: Sen;
  font-size: 30px;
}


body {
  background-color: rgb(55,55,55);
}

table{
  background-color: rgb(55,55,55);
  font-family: Sen;
  color: white;
  font-size: 20px;
  width: 50%;
}
input[type=text]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}